name: Build all on Ubuntu

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build_all_on_ubuntu:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: "21"

      - name: Make all files executable
        run: chmod +x -R ./

      - name: Run buildAll.sh
        run: ./buildAll.sh