name: Build all on Windows

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build_all_on_windows:
    runs-on: windows-latest

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle

      - name: Run buildAll.ps1
        shell: pwsh
        run: .\buildAll.ps1
