name: Build all on Ubuntu

on: push

jobs:
  build_all_on_ubuntu:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: "17"

      - name: Make Linux build script executable
        run: chmod +x ./buildAll.sh

      - name: Run Linux build script
        run: ./buildAll.sh